<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>cart</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="angular1.0/angular.js"></script>
</head>
<body>
	<div ng-controller="myCtrl" class="container">
		<h1>Cart Demo</h1>
		<hr>
		<div class="row">
			<input type="radio" value="price" name="orderByCondition" ng-model="condition"> 按价格排序
			<input type="radio" value="name" name="orderByCondition" ng-model="condition"> 按名称排序
			<p class="text-right">
				<label for="fruiteName">搜索: </label> <input class="" id="fruiteName" type="text" ng-model="fruiteName" placeholder="输入商品名称...">
			</p>
		</div>
		<div class="row">
			<table class="table table-hover">
			  <thead>
				  <tr>
				    <th>Name</th>
				    <th>Info</th>
				    <th>Price</th>
				    <th>Num</th>
				    <th>Total</th>
				    <th>Operation</th>
				  </tr>
			  </thead>
			  <tbody>
				  <!-- 这里添加了 ng-show 的指令，会让内容显示为空 -->
				  <tr ng-repeat="fruite in fruites | filter:fruiteName | orderBy:condition" ng-show="show">
				    <td>{{ fruite.name }}</td>
				    <td>{{ fruite.info }}</td>
				    <td>{{ fruite.price }}</td>
				    <td><button ng-click="fruite.num=fruite.num+1" class="btn">+</button> {{ fruite.num }} <button ng-click="fruite.num=fruite.num-1" ng-disabled="!fruite.num" class="btn">-</button></td>
				    <td ng-model="oneTotal">{{ fruite.price*fruite.num }}</td>
				    <td>
				      <button class="btn" ng-click="fruite.num=0">
					      <span class="glyphicon glyphicon-pencil"></span> Clear
				      </button>
				    </td>
				  </tr>
			  </tbody>
			</table>

			<p>金额合计：{{ sumUp }} </p>
			<hr>
			<p>
				<button class="btn" ng-click="show=false">清空购物车</button>
			</p>
		</div>
	</div>
	<script type="text/javascript">
		var myApp = angular.module('myApp', []);
		myApp.controller('myCtrl', function($scope) {
			$scope.fruites = [{
				name: 'apple',
				info: 'red...',
				price: 10,
				num: 1
			},{
				name: 'pear',
				info: 'green...',
				price: 5,
				num: 1
			},{
				name: 'banana',
				info: 'yellow...',
				price: 1,
				num: 1
			}];
			$scope.show = true;
			$scope.sumUp = 0;
		});
	</script>
</body>
</html>